<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Home Page</title>
</head>
<body>
    <h1>Users Home Page</h1>
    <a href= "blogs/new">Add new blog</a>
  <form action="/blogs/?_method=DELETE" method="POST">
    <input type="submit" value="DELETE Blog"/>
</form>

<label for="blog">Users new Blog</label><br>
<textarea id="blog"></textarea>
    
</body>
</html>