<%- include('../partials/nav.ejs') %>

        <header>
			<h1>New Entry</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
				</ul>
			</nav>
		</header>
        <form action="/blogs" method="POST">
            <div class="form-group">
                <label for="exampleFormControlFile1">Upload Image</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            Title: <input type="text" name="title"/><br/>
            Location: <input type="text" name="location" /><br/>
            <textarea class="form-control" name="body" id="textarea" placeholder='type your masterpiece here'></textarea><br>
            <input type="submit" name="" value="Add Blog to Collection" class="btn btn-info"/>
        </form>
    </body>
</html>