<%- include('./partials/nav.ejs') %>
<body>
    
    <h1>Welcome to Van-Tastic</h1>
    <p>An app designed for VanLife. Create your own personal blogs on your adventures.  </p>
    Click <a href= "/sessions/new">here</a> to Log in!<br>
    If you do not have an account, Click <a href= "sessions/new">here</a> to sign up
</body>
</html>