<%-include('./partials/nav.ejs')%>
<body>
    <div class="card mb-3" id= max-height: 50px>
        <img src="/stylesheets/images/van9.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">An app designed for your VanLife. Log your daily adventures as you go. Never forget where a moment in time led you. </p>
        </div>
    <a href= "/sessions/new"type="submit" class="btn btn-success btn-lg btn-block">Login</a><br>
    <a href= "users/new" type="button" class="btn btn-secondary btn-lg btn-block">Sign Up</a> 
</body>
</html>